#annotationviewer-header {
    height: 25px;
}

#annotationviewer-edit-icon {
    float: right;
}

.pointer {
    cursor: pointer;
}

#annotationviewer-content {
    max-height: 250px;
    overflow: auto;
}

.annotationviewer-timing-info {
    background-color: #ccc;
    float: left;
    margin: 5px;
}

.annotationviewer-text {
    background-color: #ddd;
    float: left;
    margin: 5px;
}

.annotationviewer-content-item {
    clear: both;
}