* {
    box-sizing: border-box;
  }

  html {
      background-color: #eee;
  }

  body, html {
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  #header {
    padding: 1em;
    text-align: center;
  }

  #header h1 {
    margin: 0;
    padding: 0;
  }

  #header p {
    color: white;
  }

  #eups-content-wrapper {
    width: 60%;
    margin-left: 10%;
    float: left;
  }
  
  #eups-editor-wrapper {
    float: left;
  }

  #eups-annotationeditor {
    padding-left: 5%;
  }