#eups-content-wrapper {
    float: left;
    max-height: inherit;
    max-width: inherit;
}

#eups-player {
    height: 100%;
    width: 100%;
}

.editor {
    width: 60%;
}

.no-editor {
    width: 100%;
    float: left;
}

#eups-editor-wrapper {
    float: left;
}

#eups-annotationeditor {
    padding-left: 5%;
}