$title-height: 54px;
$bp-large: 60em;
$bp-min: 375px;
$gap-large: 16px;
$gap-small: 8px;
$font-sans: 'Open Sans', 'Arial', sans-serif;
$black: #000;
$offblack: #333;
$white: #fff;
$offwhite: #eee;
$grey: #bbbcbc;
$offgrey: #e2e2e2;
$lightgrey: #cfcfcf;
$darkgrey: #777;
$aqua: #14a4c3;
$skyblue: #79b2e3;
$darkblue: #0a72cc;
$deepblue: #0771ce;
